/*TABLET*/
@media screen and (min-width: 501px) and (max-width: 900px){
    body{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100vh;
        margin: 0;
    }
    .contenedor1, .contenedor2{
        display: contents;
    }
    .item{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
        background-color: #CEEDCA;
    }
    .item3{
        grid-column: 1;
        grid-row: 2;
    }
    .item4{
        grid-column: 2;
        grid-row: 2;
        background-color: #E9EDCA;
    }
    .item5{
        grid-column: 1;
        grid-row: 3;
    }
    .item6{
        grid-column: 2;
        grid-row: 3;
    }
    .item, .item2, .item3, .item4, .item5, .item6{
        height: 100%;
        width: 100%;
    }
}