*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
body {
    font-size: 4rem;
    display: flex;
    flex-direction: column; 
}
.contenedor1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex:3;
}
.contenido1, .contenido2{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ITEM 1*/
.contenido1{
    background-color: #8ef19c;   
}
/*ITEM 2*/
.contenido2{
    background-color: #e9f19b; 
}
/*contenedor 2*/
.contenedor2{
    display: flex;
    flex-direction: row;
    flex:2;
}
/*contenido 2 y 3*/
.conte2, .conte3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/*contenedor para items 3 y 4*/
.conte2{
    background-color: #f19b9b;
    height: 100%;

}
/*contenedor para items 5 y 6*/
.conte3 .contenido  {
    background-color: #75a2c7;
    height: 100%;

}
/*ITEMS 3,4 y 5,6*/
.contenido{
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*VISTA MOBILE*/
@media screen and (max-width: 500px){
    body{
        font-size: 4em;
    }
    .contenedor1 {
        flex-direction: column;
        gap: 1vh;
    }
    .contenido1, 
    .contenido2 {
        width: 100%;
        min-height: 24vh;
    }
    .contenedor2{
        width: 100%;
        flex-direction: column;
    }
    .cont2 , .contenido, .contenedor{
        width: 100%;
        min-height: 24vh;
    }
}